#totoro {
    top: 0;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    position: fixed;
}

body{
	overflow-x: scroll;
}

h1.tlt{
    font-family: 'Oswald', sans-serif;
    padding-left: 5%;
    padding-top: 5%;
}